<h1><%= @user.name %>のページ</h1>
<!-- 画像投稿、表示 -->
<%= image_tag @user.image, class: "center-block" %>
<!-- <%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <%= f.submit "画像変更" %> -->
<% end %>

<h3 id="blogs_new_button"><%= link_to '新規投稿' , new_blog_path, class:"btn btn-default" %></h3>
<div class="container">
  <p class="text-center">メールアドレス:
    <%= @user.email %></p>
  <p class="text-center">お気に入りブログ一覧</p>
  <div class="row">
    <% @favorite_blogs.each do |favorite_blog| %>
      <div class="col-xs-4">
        <p>タイトル：<%= favorite_blog.title %></p>
        <p>内容：<%= favorite_blog.content %></p>
        <p>投稿者：<%= favorite_blog.name %></p>
        <p><%= link_to '詳細' , blog_path(favorite_blog.id), class:"btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>
