<h1><%= @user.name %>のページ</h1>
<div class="container">
  <p class="text-center">メールアドレス:
    <%= @user.email %></p>
  <p class="text-center">お気に入りブログ一覧</p>
  <div class="row">
    <% @favorite_blogs.each do |favorite_blog| %>
      <div class="col-xs-4">
        <p><%= favorite_blog.title %></p>
        <p><%= favorite_blog.content %></p>
        <p><%= link_to '詳細' , blog_path(favorite_blog.id), class:"btn btn-info" %></p>
      </div>
    <% end %>
  </div>
</div>
