<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid" id="header-container">
          <div class="navbar-header">
            <a class="navbar-brand collapse navbar-collapse" href="/">
              <img alt="Brand" src="blackthunder.png" style="height: 30px;">
            </a>
          </div>

          <div class="">
            <ul class="nav navbar-nav">
              <li><%= link_to 'ブログ一覧', blogs_path %></li>
            </ul>
            <p class="navbar-text navbar-right collapse navbar-collapse"><%= link_to 'ブラブロ', blogs_path, class:"navbar-link" %></p>
          </div>
        </div>
      </nav>
    </header>

    <article>
      <%= yield %>
    </article>

    <footer>
      <p>bootstrapシリーズ課題 2018年3月</p>
    </footer>

  </body>
</html>
